*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.main{
 
 width:100%;
}
.cards{
  height:30vh;
  width:98%;
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card{
  height:15rem;
  width:10rem;
  background-color: blue;
}
.events-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}
.h2{
  margin-left: 9vw;
  line-height: 6rem;
}
.h1{
  font-size: 3rem;
}
.btn-event{
  width:10rem;
}